<HTML>
<BODY bgcolor="cyan">
<center>
<div>What are you looking for </div>
<form method="POST" action="">
<button type="submit" name="price" value="highest_price" style=" width:300px;height:20px">Highest price for each category </button>
<br>
<button type="submit" name="price" value="range_price" style=" width:300px;height:20px">Price range for each sub category </button>
<br>
<button type="submit" name="price" value="item_count" style=" width:300px;height:20px">Items count for each category and sub category </button>
</form>
</center>